@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");

* {
	margin: 0 auto;
	padding: 0px;
	box-sizing: border-box;
}

body {
	background: white;
	font-family: "Cormorant Garamond", serif;
	font-size: 14px;
}

html {
	/* height: 100%; */
}

/* MAIN ELEMENTS*/

header {
	/* width: 100vw; */
	/* height: 2rem; */
	/* background-color: yellow; */

	/* margin: 1em; */
}

/* LAYOUT AND NAV */

.layout {
	min-height: 100vh;
	position: relative;
	/* display: flex; */
	/* flex-direction: column; */
}

main {
	padding-bottom: 3rem;
}

.nav-bar {
	/* margin: 0 auto; */
	/* position: fixed; */
	/* position: sticky;
	top: 0px; */
	/* padding-top: 1em;
	padding-bottom: 1em; */

	height: 7vh;
	padding-left: 5%;
	padding-right: 5%;
	z-index: 1000;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	display: flex;
	opacity: 0.4;
	background-color: white;
}

.nav-bar:hover {
	opacity: 1;
	transition: all 1s ease-out;
}

.nav-bar-items {
	/* border: 1px red solid; */
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
	flex-direction: row;
	cursor: pointer;
}
a:hover {
	color: rgb(57, 57, 57);
}

a:focus {
	text-decoration: underline;
}

footer {
	/* background: yellow; */
	width: 100%;
	/* color: #bbbbbb; */
	padding: 20px;
	text-align: center;
	display: flex;
	font-size: 0.8em;
	flex-direction: column;
	margin-top: 2rem;
	position: absolute;
	bottom: 0;
}

/*LANDING PAGE*/

.landing-page {
}

.logo-front {
	z-index: 2000;
	position: absolute;
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	pointer-events: none;
	/* border: 1px red solid; */
}

.hero-img-container {
	transition: all 1s ease-in-out;
}

/*WORK / PROJECT PAGE*/

.text-section {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 3rem;
}

.card {
	margin-top: 2rem;
	padding-right: 2.5%;
	padding-left: 2.5%;
	/* margin-right: 5%;
	margin-left: 5%; */
}

.info-text {
	color: rgb(58, 58, 58);
	font-size: 0.8em;
	line-height: 1em;
}

/* NAVMENY PROJECTS*/

.nav-project-list {
	display: flex;
	padding-left: 5%;
	padding-right: 50%;
	padding-bottom: 1rem;
	margin-top: 3vh;

	/* padding-top: 4rem; */
	flex-wrap: wrap;
	z-index: 4000;
	opacity: 1;
	background-color: white;

	/* position: absolute; */
}

.nav-project-list:hover {
	opacity: 1;
	transition: all 1s ease-in-out;
}

.project-list-items {
	margin: 0;
	padding-right: 0.2rem;
	white-space: nowrap;

	/* opacity: 0; */
	/* visibility: hidden; */
}

.project-list-items ::after {
	content: " |";
}
.project-list-items ::before {
	content: " ";
}

.project-list-items:last-child {
	/* content: "";
	color: red; */
}

.bar {
	width: 80%;
	height: 1px;
	/* background-color: black; */
	/* margin */
}

.project-list-items:hover {
	/* opacity: 1; */
	/* visibility: visible; */
}

/*INDIVIDUAL PROJECTS*/

.project-page {
	flex-direction: column;
	align-items: center;
}

.feat-img {
	/* min-width: 100%; */
	min-width: 100vw;
	width: 100%;
	height: 95vh;
	display: flex;
	/* background-position: center center; */
	justify-content: center;
	align-items: center;
	object-fit: cover;
	overflow: hidden;
	object-position: center;
	margin: 0;
	background-size: cover;
}

.project-content {
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 2rem;
	margin-bottom: 4rem;
}

.my-masonry-grid {
	display: -webkit-box; /* Not needed if autoprefixing */
	display: -ms-flexbox; /* Not needed if autoprefixing */
	display: flex;
	/* margin-right: -30px; */
	width: auto;
	/* margin: 5%; */
	margin-left: 2.5%;
	margin-right: 2.5%;
	padding-bottom: 1rem;
}

.my-masonry-grid_column {
	/* padding-left: 30px; */
	/* background-clip: padding-box; */
}

.masonry-img {
	/* margin-bottom: -5px; */
	margin: 1rem;
}

.caption {
	font-size: 0.6em;
	margin-top: -5px;
	font-style: italic;
}

.img-grid :last-child {
	/* border: 1px red solid; */
}

.next-link {
	margin-left: 4%;
	margin-bottom: 3rem;
}

.mobile-nav {
	display: none;
}

.mobile-links-open {
	display: none;
}

@media screen and (max-width: 870px) {
	.feat-img {
		/* min-width: 100%; */
		min-width: 100vw;
		height: 55vh;
		display: block;
	}
}
@media screen and (max-width: 500px) {
	/* .my-masonry-grid {
		margin-right: -30px;
	} */

	/* .mobile-links-open {
		display: flex;
		background-color: greenyellow;
	} */

	* {
		margin: 0;
	}

	.text-section {
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 2rem;
	}

	.card {
		margin-top: 2rem;

		/* margin-right: -10px;
		margin-left: -10px; */
	}

	.info-text {
		margin-left: 0.5em;
	}

	.feat-img {
		width: 100vw;
		height: 45vh;
	}

	.card {
		/* margin-right: -10px;
		margin-left: -10px; */
	}

	.info-text {
		font-size: 0.9em;
		margin-left: 0;
	}

	.line {
		width: 30px;
		height: 2px;
		margin: 5px;
		background-color: black;
	}

	.nav-bar {
		display: none;
	}

	/* .mobile-title {
		display: none;
	} */

	header {
		/* position: relative;
		height: 10vh; */
		/* background-color: white; */
	}

	.mobile-nav {
		display: flex;
		width: 100%;
		background-color: white;
		align-items: center;
		justify-content: space-between;
		height: 3rem;
	}

	.hamburger {
		cursor: pointer;
		margin: 0px;

		padding-right: 4%;
		/* position: absolute; */
		/* right: 5%;
		top: 30%;
		transform: translate(-5%, -30%); */
	}

	.mobile-nav a {
		margin: 0px;
		margin-left: 5%;
	}

	.nav-project-list {
		display: flex;
		padding-left: 5%;
		padding-right: 5%;

		padding-bottom: 0;
		margin-top: 4vh;
		/* padding-top: 4rem; */
	}

	.bar {
		width: 90%;
	}

	/* .mobile-links-open {
		display: flex;
		flex-direction: column;
		margin: 0px;
		justify-content: left;
		background-color: hotpink;
	} */
}

@media screen and (max-width: 420px) {
	.feat-img {
		height: 30vh;
	}
}
